
@media only screen and (max-width:700px){
    .buynow{
        

        
        
        .buynowphs{
            border: 1px solid red;
            padding: 8% 8px 8% 8%;
            padding: 0;
            display:flex;
            justify-content: center;
            //height: 436px;
            //padding-top: 5%;
            //padding-left: 16%;

            .buynowph{
                text-align: left;


            }
        }
    }
}