.buynow{
    img{
        position: absolute;
        height: 500px;
        width: 100%;
    }
    .buynowphs{
        background: linear-gradient(80deg, transparent, rgb(185, 157, 104));
        position: relative;
        height: 436px;
        padding-top: 5%;
        padding-left: 43%;    
        .buynowph{
            font-size: 40px;
<<<<<<< HEAD
            font: $font-main;
=======
            font-family: $font-main-light;
>>>>>>> ef89ed911b8e5281852ea1702cdca85e78eb0ebb
            color: $color-white;
        }
    }
}