@media only screen and (max-width:768px){
    footer {
        .flexbox-container{
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            flex-direction: column;
        }
        .footer-left{
            width: 100%;
            padding-top: 0px;
            padding-bottom: 0px;
            padding-left: 100px;
            margin-right: 0px;
        }
        .footer-rigth{
            width: 100%;
            padding-top: 0px;
            padding-bottom: 0px;
            padding-left: 100px;
            margin-right: 0px; 
            text-align: left;
            img{ 
                display:flex;
                flex-direction: row;
            }   
        }
        .help{
            display:flex;
            flex-direction: row;
        }
    }
}
@media only screen and (max-width:576px){
    footer {
        .flexbox-container{
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            flex-direction: column;
        }
        .footer-left{
            width: 100%;
            padding-top: 0px;
            padding-bottom: 0px;
            padding-left: 100px;
            margin-right: 0px;
        }
        .footer-rigth{
            width: 100%;
            padding-top: 0px;
            padding-bottom: 0px;
            padding-left: 100px;
            margin-right: 0px; 
            text-align: left;
            img{ 
                display:flex;
                flex-direction: row;
            }   
        }
        .help{
            display:flex;
            flex-direction: row;
        }
    }
}