.hero{
<<<<<<< HEAD
=======
    padding-left: 10%;
>>>>>>> ef89ed911b8e5281852ea1702cdca85e78eb0ebb
    display: flex;
    flex-wrap: wrap;
    img{
        margin-left: 50px;
        width: 500px;
        height: 500px;
    }
    .herophs{
        margin-top: 163px;
        .herophTitle{
            margin: 0;
            font-size: 40px;
            font: $font-main;
        }
        .herophContent{
            margin: 0;
            font-size: 12px;
        }
    }
}