.hero{
    padding-left: 10%;
    display: flex;
    flex-wrap: wrap;
    font-family: $font-main;
    img{
        margin-left: 50px;
        width: 500px;
        height: 500px;
    }
    .herophs{
        margin-top: 163px;
        .herophTitle{
            margin: 0;
            font-size: 40px;
        }
        .herophContent{
            margin: 0;
            font-size: 12px;
        }
        .heroButton{
            color:  rgb(156, 134, 6);
            border-radius: 0;
            padding: 5px 15px;
            border-color: rgb(156, 134, 6);
        }
    }
}