.container-bluetooth {
    @media screen and (max-width:768px) {
        text-align: center;
      }
    @media screen and (min-width: 1200px) {
        display: -webkit-flex;
    }
    display: -ms-flex;
    display: center;
    padding: 120px;
 
}

.bluetooth-text{
    @media screen and (min-width: 1200px) {
        width: 60%;
    }
    
}

.bluetooth-first{
    
    @media screen and (min-width: 1200px) {
        line-height: $line-height-1;
    }
}

.bluetooth-img{
    /*@media screen and (min-width: 1200px) {
        width: 40%;
    }*/
}


.bluetooth-text img{
    height: 70px;
    /*@media screen and (min-width: 1200px) {
        width: 30%;
        height: 15%;
    }
    padding-top: 25px;
    padding-bottom: 10px;
    @media screen and (min-width:768px) {
        width: 66%;
        height: 14%;
    }*/

}



.bluetooth-img img{
    width: 100%;
    height: 100%;
}


.title_bluetooth{
    color: $color-black;
    font-family: $font-sectionbluetooth;
    font-size: $font-size-3;
    
   
}

.compatible{
color: $color-grey1;
padding-top: 0px;
padding-bottom: 20px;
}

.price{
color: $color-grey1;
}

