// Colors
$color-white: rgb(255, 255, 255);
$color-black: rgb(18, 18, 18);
$color-grey1: rgb(158, 158, 158);	
$color-grey2: rgb(244,244,244);	
$color-gold1: rgb(125,112,78);
$color-gold2: rgb(140,126,87);
$color-orange: rgb(224,127,31);
// Text sizes


// Text fonts (2 max)
$font-main: helvetica;

// Background colors


// Border styles


// Box shadow
