// Colors
$color-white: rgb(255, 255, 255);
$color-black: rgb(18, 18, 18);
$color-grey1: rgb(158, 158, 158);	
$color-grey2: rgba(244, 244, 244, 0.646);	
$color-grey3: rgba(244, 244, 244, 0.934);	
$color-gold1: rgb(125,112,78);
$color-gold2: rgb(140,126,87);
$color-gold3: rgb(181,141,72);
$color-orange: rgb(224,127,31);

// Text sizes


// Text fonts (2 max)
$font-main: helvetica;
$font-main-light: HelveticaNeue-Light;
$font-footer:'Josefin Sans', sans-serif;

$font-subscribe: 'Open Sans', sans-serif;

//Text Size
$font-size: 16px;
$star-size: 12px;

//Line-heigth
$line-height: 20px;
// Background colors


// Border styles


// Box shadow
